@{
    ViewData["Title"] = "Gestión de entidades Bancarias";
}

<div class="text-center">
	<h1 class="display-4" style="text-transform:uppercase">Gestión de Entidades Bancarias</h1>
</div>
<div class="row">

	

	<div class="col-md-6">
		<p style="text-align:left">
			<img src="https://github.com/fluidicon.png" width="50">
			<a style="color:#000101" href="https://github.com/CMCeledon/Gestion.Bancaria.Net.Core" target="_blank">DESCARGAR WEB API</a>
		</p>
	</div>

	<div class="col-md-6">
		<p style="text-align:right" class="">
			<img src="https://github.com/fluidicon.png" width="50">
			<a style="color:#000101" href="https://github.com/CMCeledon/Gestion.Bancaria.Net.Core" target="_blank">DESCARGAR WEB FRONT</a>
		</p>
	</div>
</div>
<hr />
